@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  letter-spacing: 1.2;
  /* text-shadow:   1px 1px 2px  #01B9B5, 0 0 1em; */
  font-size: 16px;
  color: #0082D3;
  background-image: linear-gradient(rgba(77, 76, 76, 0.205), rgba(0, 0, 0, 0.6)), url('./assets/img/bg/bg.jpg');
  background-repeat: repeat;
  background-size: 30%;
}